<pre>
<h2>Types of import statements</h2>
<li>Collective import</li>
    <p>import library_name : <i>entire library will be imported</i></p>
<li>Selective import</li>
    <p>from library_name import selector_name : <i>only selected part of library is imported</i></p>
</pre>

In [14]:
import numpy as np # numpy is used for mathematical/statistical derivations

In [15]:
list=[10,45,67,94,32]
print("data type of list->",type(list))

# converting list to array
arr=np.array(list) # arr is a new variable which will work as array
# array() is a method, which converts any python collection into numpy array

print("arr=",arr)
print("data type of arr->",type(arr))

data type of list-> <class 'list'>
arr= [10 45 67 94 32]
data type of arr-> <class 'numpy.ndarray'>

<pre>
<h2> Pandas Library </h2>
We are going to use pandas to work with data sets.
Methods of pandas, will not work with the data collections of python/any other source.
So, every data colections of python is replaced in pandas-
eg: list-> series
    dictionary-> dataframe</pre>

<pre><h2>Capability of Pandas</h2>
<ul><li>Reading or Creating datasets</li>
    <li>Finding Correlation</li>
    <li>Average of Data</li>
    <li>Data Preprocessing</li></ul></pre>

In [16]:
import pandas as pd

In [17]:
newLi=[12,45,27,88,90]
print("newLi->",type(newLi))

# convert list to series
mySeries=pd.Series(newLi) # .Series() converts list to Series : It is datatype from pandas class
print("mySeries->",type(mySeries))

newLi-> <class 'list'>
mySeries-> <class 'pandas.core.series.Series'>

In [18]:
print(newLi)
print(mySeries)

[12, 45, 27, 88, 90]
0    12
1    45
2    27
3    88
4    90
dtype: int64

In [19]:
myData={
    "Name": ["Adeel Ahmad","Amir Khan","Ghazi Ali","Hammad Husain","Hashir Aqeel"],
    "Color": ["Brown","Black","Green","Blue","Purple"]
}
print(myData)

# converting dictionary to DataFrame
dataDF=pd.DataFrame(myData)

print("Datatype of dataDF->",type(dataDF))
print(dataDF)

{'Name': ['Adeel Ahmad', 'Amir Khan', 'Ghazi Ali', 'Hammad Husain', 'Hashir Aqeel'], 'Color': ['Brown', 'Black', 'Green', 'Blue', 'Purple']}
Datatype of dataDF-> <class 'pandas.core.frame.DataFrame'>
            Name   Color
0    Adeel Ahmad   Brown
1      Amir Khan   Black
2      Ghazi Ali   Green
3  Hammad Husain    Blue
4   Hashir Aqeel  Purple

In [20]:
print(dataDF.loc[[1,2]]) # to return one or more specified rows

        Name  Color
1  Amir Khan  Black
2  Ghazi Ali  Green

In [21]:
print(type(dataDF.loc[[1,2]]))
print(type(dataDF.loc[2]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [22]:
sample={
    "height":[120,150,180,175],
    "weight":[55,70,85,68]}

# creating our own index | own row index values
sampleDF=pd.DataFrame(sample,index=["stu-1","stu-2","stu-3","stu-4"])
print(sampleDF)
print("----------------------------------------------")
print(sampleDF.loc["stu-3"])

       height  weight
stu-1     120      55
stu-2     150      70
stu-3     180      85
stu-4     175      68
----------------------------------------------
height    180
weight     85
Name: stu-3, dtype: int64

<pre>
<h2>Creating files from DataFrame</h2>
    converting dataDF dict into various files
    Steps->myData(dict)->dataDF(dataFrame)->creating any file
</pre>

In [10]:
# creating .csv file
dataDF.to_csv('csvdata.csv',index=False)
print("File created successfully")

File created successfully

In [11]:
# creating .xlsx file
dataDF.to_excel('xldata.xlsx',index=False)
print("File created successfully")

File created successfully

In [12]:
# creating .json file
dataDF.to_json('jsondata.json',index=False)
print("File created successfully")

File created successfully

In [23]:
# Create a csv file from dictionary, having 4 columns with details of your 5 friends.

myFriends={"Name":["Hassan Khan","Hashir Aqeel","Ghazi Ali","Gulam Ahmad","H Abdul Aahad"],
           "Fvrt. Color": ["Brown","Black","Green","Blue","Purple"],
           "Fvrt. Food":["Biryani","Pulao","Qorma","Seekh Kabab","Haleem"],
           "Fvrt. Dessert":["Phirni","Kheer","Imirti","Shahi Tukda","Besan ke Laddoo"]}
myDF=pd.DataFrame(myFriends)
myDF.to_csv("myFriends.csv",index=False)
print("myFile created successfully")

myFile created successfully

## Reading Files

In [24]:
# reading excel file
filexl=pd.read_excel('fromxl.xlsx')
print("File read successfull")
print(type(filexl))

File read successfull
<class 'pandas.core.frame.DataFrame'>

In [25]:
print(filexl)

   S. No.   Name   Age  Gender
0       1  Hammad    22      M
1       2  Hassan    22      M
2       3  Hashir    22      M
3       4   Ghazi    22      M
4       5   Zohan    10      M

In [26]:
# reading csv file
filecsv=pd.read_csv('fromcsv.csv')
print("File read successfull")
print(type(filecsv))

File read successfull
<class 'pandas.core.frame.DataFrame'>

In [27]:
print(filecsv)

   S. No.   Name   Age  Gender
0       1  Hammad    22      M
1       2  Hassan    22      M
2       3  Hashir    22      M
3       4   Ghazi    22      M
4       5   Zohan    10      M

In [28]:
filecsv.info() # it will provide summary of entire dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S. No.  5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      int64
 3   Gender  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [30]:
# reading csv file
file=pd.read_csv('customer1.csv')
print("File read successfull")
file.info()

File read successfull
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     100 non-null    object
 1   Age            100 non-null    int64
 2   Gender         100 non-null    object
 3   AnnualIncome   100 non-null    float64
 4   SpendingScore  100 non-null    int64
 5   City           100 non-null    object
 6   SignupDate     100 non-null    object
 7   IsActive       100 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 6.4+ KB